<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Journalist</title>
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")
    @await Html.PartialAsync("IntroPartial")
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    
    @await Html.PartialAsync("ScriptsPartial")
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
