<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Journalist</title>
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    @await Html.PartialAsync("FooterPartial")
    
    @await Html.PartialAsync("ScriptsPartial")
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
