<footer class="footer">
    <div class="wrapper">
        <footer class="footer__wrapper">
            <div class="footer__logo">
                <img src="~/images/svg/Минцифры.svg" alt="Минцифры" class="footer__icon">
                <h3 class="footer__content">АНО “Спортивный клуб боевого самбо города Орска” 2022 г.</h3>
            </div>
            <h3 class="footer__content content__margin">Дизайн и разработка: ILITRIA code</a></h3>
        </footer>
    </div>
</footer>