<header class="header">
    <div class="wrapper">
        <div class="header__wrapper">
            <div class="header__logo">
                <a class="header__logo-link" href="#upper" >Хакатон</a>
            </div>

            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item">
                        <a class="header__link" onclick="$('#info').goTo();">Информация</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" onclick="$('#1').goTo();">Этапы</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" onclick="$('#2').goTo();">Подача заявки</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" onclick="$('#3').goTo();">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__button-wrap">
                <button class="header__button btn btn-primary" value="Вход" data-bs-toggle="modal" data-bs-target="#exampleModal">Вход</button>

                

                <img src="~/images/svg/Вход.svg" alt="Email" class="intro__icon">
            </div>

            </img>
        </div>
    </div>
</header>

@await Html.PartialAsync("SignOn")