<header class="header">
    <div class="wrapper">
        <div class="header__wrapper">
            <div class="header__logo">
                <a class="header__logo-link">Хакатон</a>
            </div>

            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item">
                        <a class="header__link">Информация</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link">Этапы</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link">Подача заявки</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__button-wrap">
                <input type="button" class="header__button" value="Вход">
                <img src="~/images/svg/Вход.svg" alt="Email" class="intro__icon">
            </div>
            
            </img>
        </div>
    </div>
</header>