<section class="information">
    <div class="information__wrapper" id="0">
        <h2 class="information__title">Информация о конкурсе</h2>
        <div class="information__contents">
            <div class="information__content">
                <h3 class="information__content-title">Призовой фонд</h3>
                <p class="information__prize-all">250 000 Р</p>
                <p class="information__prize">
                    1 место - 120 000 Руб <br>
                    2 место - 75 000 Руб <br>
                    3 место - 55 000 Руб
                </p>
            </div>
            <div class="information__content">
                <h3 class="information__content-title">Кто мы?</h3>
                <p class="information__who">Ежегодный областной творческй конкурс журналистов, редакций средств массовой информации, полиграфических предприятий на соискание премий Губернатора Оренбургской области.
                                                Конкурс проводится каждый ноябрь начиная с 2016 года.</p>
            </div>
        </div>
    </div>
</section>