@model Journalist.Models.Entry

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Transaction</h1>
        <form asp-action="AddOrEdit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Annotation" />
            <input type="hidden" asp-for="Path2Content" />
            <input type="hidden" asp-for="Type" />
            <div class="form-group">
                <label asp-for="Authors" class="control-label"></label>
                <input asp-for="Authors" class="form-control" />
                <span asp-validation-for="Authors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post" class="control-label"></label>
                <input asp-for="Post" class="form-control" />
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPlace" class="control-label"></label>
                <input asp-for="WorkPlace" class="form-control" />
                <span asp-validation-for="WorkPlace" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ThemeOfWork" class="control-label"></label>
                        <input asp-for="ThemeOfWork" class="form-control" />
                        <span asp-validation-for="ThemeOfWork" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="WorkHeader" class="control-label"></label>
                        <input asp-for="WorkHeader" class="form-control" />
                        <span asp-validation-for="WorkHeader" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary  w-100">View All</a>
                </div>
            </div>
        </form>
    </div>
</div>