@{
    ViewData["Title"] = "Заявки";
}

<section class="applications">
    <div class="wrapper">
        <div class="applications__wrapper">
            <div class="applications__header">
                <select name="Type" class="applications__combobox">
                    <option value="Видеозаявки">Видеозаявки</option>
                    <option value="Текстзаявки">Текстовые заявки</option>
                </select>
                <h1 class="applications__title">Хакатон</h1>
                <div class="applications__buttons buttons">
                    <input type="button" class="buttons__applications content__button" value="Заявки">
                    <input type="button" class="buttons__rate content__button" value="Рейтинги">
                </div>
            </div>

            <div class="applications__line"></div>

            <div class="applications__content">
                <div class="applications_aplications-table">
                    
                </div>
                <div class="applications__aplications-update">

                </div>
            </div>
        </div>
    </div>
</section>